body { background: #6320e8; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-email-0 { color: #a7fc2c; font-size: 14px; margin-bottom: 5px; }
.block-search-1 { color: #8a7924; font-size: 13px; margin-bottom: 5px; }
.block-cart-2 { color: #561958; font-size: 20px; margin-bottom: 5px; }
.block-user-3 { color: #3d589b; font-size: 13px; margin-bottom: 5px; }
.block-session-4 { color: #fe65fe; font-size: 18px; margin-bottom: 5px; }